.galery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
  }
  .galery-container .galery-card {
    position: relative;
    background-color: #ff6060;
    box-shadow: 1px -69px 100px -49px rgba(0, 0, 0, 1) inset;
    width: 30%;
    height: 340px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .galery-card span {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: #fff;
    font-size: 0.9rem;
    z-index: 9;
  }
  .galery-card img {
      width:100%;
      height: 340px;
      border-radius: 10px;
  }
  .galery-card .shadow-bottom {
    content: "";
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 340px;
    top: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%, rgba(0,0,0,1) 100%);
  }
  @media screen and (min-width: 100px) {
    .galery-container .galery-card {
      width: 240px;
      height: 240px;
    }
    .galery-card img {
      width:240px;
      height: 240px;
    }
    .galery-card .shadow-bottom {
      width: 240px;
      height: 240px;
    }
  }
  @media screen and (min-width: 1200px) {
    .galery-container .galery-card {
      width: 30%;
      height: 240px;
    }
    .galery-card img {
      width: 100%;
      height: 240px;
    }
    .galery-card .shadow-bottom {
      width: 100%;
      height: 240px;
    }
  }