.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.error404 h1 {
    margin: 0;
    font-size: 15rem;
    color: #ff6060;
}
.error404 span {
font-size: 3rem;
color: #ff6060;
}
.back-app {
    margin-top: 10%;
    color: #ff6060;
}